---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Steps from "../components/Steps.astro";
import Options from "../components/Options.astro";
import Cases from "../components/Cases.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
  <canvas id="mouse"></canvas>
  <Modal/>
  <Header />
  <main class="main">
    <Hero />
    <About />
    <Steps />
    <Options />
    <Cases />
  </main>
  <Footer/>
</Layout>

<style>
  #mouse {
    position: fixed;
  inset: 0;
  z-index: 30;
  pointer-events: none;
  }
  @media (max-width: 800px){
    #mouse{
      display: none;
    }
  }
</style>

